// in head tag

<!-- Include Bootstrap -->

//  other markup

<div id="contents">
    <div class="lead">
        <strong>Name of Event:</strong>
        <span th:text="${eventName}"></span>
    </div>
    <ul>
        <li style="list-style-type:none" v-for="player in players">
            <player-card
                    v-bind:player="player"
                    v-bind:key="player.id">
            </player-card>
        </li>
    </ul>

</div>

// at end of body tag
<script
        src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js">
</script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js">
</script>
<<script type="text/babel">
    // player-card is now a Vue component that generates a 'card' showing a player
    // It can be used
    // declaratively like <player-card v-bind:player="someplayer">
    Vue.component('player-card', {
        props: ['player'],
        template: `<div class="card">
                    <div class="card-body">
                        <h6 class="card-title">
                            {{ player.name }}
                        </h6>
                        <p class="card-text">
                            <div>
                            {{ player.description }}
                            </div>
                        </p>
                    </div>
                </div>`
    });

    var app = new Vue({
        el: '#contents',
        data: {
            players: [
                {id: "1", name: "Lionel Messi", description: "ZDAROVA"},
                {id: "2", name: "Christiano Ronaldo", description: "Portugal top-ranked player"}
            ]
        }
    });
</script>